@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;

    --white : #ffff;
    --black : #0000;
    --small : 1rem;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    padding: .5rem;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);

    /* Incase the header will expand example to add more like navs */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: var(--white);
}

.logo > img{
    width: 150px;
}

/* MAIN */

main {
    /* background-image: url('../assets/img3.svg'); */
    height: 100vh;

    display: flex;
    flex-direction: column;
}
.section-1{
    padding: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);



    background-color:var(--white);
}
/* General Label */
form .label-fieldset {
    border-bottom: 1px solid black;
    width: 100%;
}

/* Inputs */
.input-wrapper{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.input-wrapper >label {
    position: absolute;
    font-size: .5rem;
    padding: 3px 5px;
    top: 0;
    left: 3%;
}
.input-wrapper > input[type=text], input[type=email], input[type=number],input[type=password]{
    width: 100%;
    height: 100%;
    padding: .6rem .5rem;
}
.input-wrapper > input[type=text], input[type=email], input[type=number],input[type=password]:focus{
    outline: none;
}
input[type=submit]{
    width: 100%;
    padding: .4rem .3rem;
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
footer > p {
    font-size: .7rem;
}


/* Section 2 */

.section-2 >img{
    display: none;
}

@media (min-width: 768px) {


    .logo > img{
        width: 250px;
    }
    main {
        display: flex;
        flex-direction: row;
        position: relative;
        background-image: url('../assets/img3.svg');
    }

    .section-1{
        background-color: #0000;
        width: 40%;
        padding: 1rem;
        background-color:var(--white);
    }
    .input-wrapper{
        width: 100%;
        /* display: flex; */
    }

    
     

    .section-2 > img{
        display: block;
        width: 50%;
        position: absolute;
        right: 0;
    }

    .input-wrapper >label {
        font-size: .6rem;
        padding: 3px 5px;
        top: 0;
        left: 1%;
    }
}
